*{
	font-family: 'Montserrat', sans-serif;
}
body{
margin:0 auto;
}

nav{
	background-image: url(../assets/images/hero.gif);
    background-size: cover;
	/*background: #2E1F44;*/
	position: fixed;
    top:0;
    width: 100%;
    padding: 20px;
   
}
.log{
	border: 1px solid white;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;

}
.contenedor-1{
	background-image: url(../assets/images/hero.gif);
	background-size: cover;
	height: 600px;
	overflow: hidden;

}
.menu ul li{
	display: inline-block;
	
}
.menu li a{
	color: white;
	/*padding: 10px;*/
	margin:  15px;
    font-size: 20px;
	text-decoration: none;
}
/*.menu li {
   /*outline:1px solid red;*/ 


header{
  background: #291D40;
  /*margin-top: 70px;*/
  overflow: hidden;
  clear: both;
  /*padding: 50px;*/
}
.cuadro-1{
	background: white;
	width: 550px;
	/*height: 300px;*/
    float: right;
	/*outline: 1px solid red;*/
	padding:50px;
	color: #352384;
	/*padding: 10px;*/

}
.cuadro-1 h1{
	font-size: 40px;
	width: 350px;
	margin-top: 150px;
	font-weight: bolder;
	/*padding: 10px;*/

}
.cuadro-1 h4{
	width: 350px;
	font-weight: bolder;
	margin-left: 10px;

}
.p1{
	color: #C6CDDD;
	left: 100px;
	margin:0px;	
	width: 200px;
}
.logo img{
	width: 70px;
}
.logo{
	padding-right: 550px;
}
.boton-log{
	
	background: #FF00BF;
	color:white;
	width: 150px;
	padding: 10px;
	margin-right: 20px;
	text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*position: absolute;
    left: 800px;*/
    
}
hr{
	border: 1px solid #C6CDDD;
	width: 550px;
}
.cuadro-1 ul li{
	list-style: none;
}
.entrar{
	float: right;
	margin-right: 200px;
	margin-top: -35px;
	font-size: 20px;
	color: #C5CCDC;
	
}
.pie  {
	font-size: 10px;
	/*outline: 1px solid green;*/
    text-align: left;
    margin: 0px;

}

.cuadro-1 ul{
padding-left: 0px;
}

.contenedor-2{
	background: #692588;
	padding-top: 20px;
	color:white;
	padding-bottom: 100px;
	overflow: hidden;
    clear: both;
}
.contenedor-2 img{
	width: 450px;
	/*outline: 1px solid red;*/
	float: right;
	margin-top: -480px;
	bottom: 550px;
	margin-right: 230px;

}
.cuadro-2{
	/*outline: 1px solid yellow;*/
	width: 500px;
	margin-left: 30px;
	line-height: 40px;
}
.contenedor-3{
    overflow: hidden;
   
}
.cuadro-3{
	width: 500px;
	margin-left: 90px;
	margin-top: 60px;
	text-align: justify;
}
.ver{
    text-decoration: none;
}
.amp{
	width: 500px;
	/*outline: 1px solid blue;*/
	text-align: left;
	font-size: 28px;	
}
.parr1{
	width: 350px;
	/*outline: 1px solid yellow;*/
	margin-left: 80px
	line-height:70px;
	font-size: 18px;
}
.video-1{
	float: right;
	/*outline: 1px solid red;*/
	bottom: 100px;
}

.contenedor-4{
	overflow: hidden;
	clear: both;
}
.cuadro-4{
	width: 400px;
	margin-right: 90px;
	margin-top: 60px;
	text-align: justify;
	float: right;
	bottom: 100px;
	}
.ver2{
	margin-right: 30px;
	text-decoration: none;
}
.j{
	text-align: left;
	font-size: 28px;
}
.parr2{
	font-size: 18px;

}
.contenedor-5{
	overflow: hidden;
	clear: both;
}
.video-3{
float: right;
bottom: 100px;
}
.cuadro-5{
    width: 500px;
    margin-left: 0px;
	text-align: justify;
	margin-top: 10px;
}

.ver3{
	text-decoration: none;
	margin-left: 90px;
}
.A{
	font-size: 28px;
	margin-left: 90px;
}
.parr3{
	font-size: 18px;
	width: 400px;
	margin-left: 90px;
}






.footer{
	overflow: hidden;	
}
.lista-1 {
	float: right;
	outline: 1px solid red;
}
.lista-2{
	float:right;
	outline: 1px solid green;
}
.lista-3{
	float:right;
	outline: 1px solid blue;
}
.lista-1 li a{
	text-decoration: none;
}
.lista-1 ul{
	list-style: none;
}

